body {
    font-family: "Segoe UI", Arial, 'Noto Sans JP', sans-serif;
    font-weight: 400;
    font-feature-settings: "palt" 1;
    width: 1200px;
    margin: auto;
    margin-top: 30px;
}

.cloud {
    width: 800;
    height: 600;
}

div {
    width: fit-content;
    margin: auto;
}

.mainContent {
    margin-top: 100px;
    margin-bottom: 10px;
}